$primary: #191919;
$secondary: #2D4263;
$tertiary: #C84B31;
$text-primary: #ECDBBA;

$primary-grey: #73777B;
$secondary-grey: #4A4A4A;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);